.addServerContent {background:url(img/form.png) repeat-y;padding:10px 0 10px 0;margin-top:5px;position:absolute;}
.addServerContent input {background:url(img/input.png) no-repeat;color:#5d5d5d;font-size:12px;font-style:italic;
    width:322px;height:43px;padding-left:18px;margin:0 0 16px 40px;border:none;clear:left;}
.addServerContent .btn {padding-bottom:0;float:left;}
.addServerContent .btn input{background-color: #3399cc;color:#555555;font-size:12px;font-weight:bold;text-transform:uppercase;font-style:normal;
    width:111px;line-height:43px;padding:0;margin:0 0 0 40px;border:none;cursor:pointer;float:left;}

.c2 {background:url(img/warning.png) no-repeat top left;position:absolute;top:0;left:50px;height:28px;width:2px;}
.ctop {background:url(img/ctop.png) no-repeat;width:426px;height:6px;position:absolute;top:-6px;left:0;}
.cbottom {background:url(img/cbottom.png) no-repeat;width:426px;height:6px;position:absolute;bottom:-6px;left:0;}