.addServerContent {padding:10px 10px 10px 10px;margin-top:5px;position:absolute;}
.addServerContent input {background:url(img/input.png) no-repeat;color:#5d5d5d;font-size:12px;font-style:italic;
    width:322px;height:43px;margin:0 0 0 0;border:none;clear:left;}
.addServerContent .btn {padding-bottom:0;float:left;}
.addServerContent .btn input{background-color: #3399cc;color:#555555;font-size:12px;font-weight:bold;text-transform:uppercase;font-style:normal;
    width:111px;line-height:43px;padding:0;margin:0 0 0 40px;border:none;cursor:pointer;float:left;}
#addserverdisplay { margin-left: 10px;}