<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.redisadmin.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserServlet</servlet-name>
        <servlet-class>org.redisadmin.controller.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServerServlet</servlet-name>
        <servlet-class>org.redisadmin.controller.AddServerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetServerListServlet</servlet-name>
        <servlet-class>org.redisadmin.controller.GetServerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListKeysServlet</servlet-name>
        <servlet-class>org.redisadmin.controller.ListKeysServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetKeyValuesServlet</servlet-name>
        <servlet-class>org.redisadmin.controller.GetValuefromKeyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddKeyValueServlet</servlet-name>
        <servlet-class>org.redisadmin.controller.AddKeyValueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchKeyServlet</servlet-name>
        <servlet-class>org.redisadmin.controller.SearchKeyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteKeyServlet</servlet-name>
        <servlet-class>org.redisadmin.controller.DeleteKeyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInfoServlet</servlet-name>
        <servlet-class>org.redisadmin.controller.GetInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>org.redisadmin.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>org.redisadmin.controller.DeleteServerServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServerServlet</servlet-name>
        <url-pattern>/addServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServerListServlet</servlet-name>
        <url-pattern>/getServerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListKeysServlet</servlet-name>
        <url-pattern>/listKeys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetKeyValuesServlet</servlet-name>
        <url-pattern>/getValue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddKeyValueServlet</servlet-name>
        <url-pattern>/addValue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchKeyServlet</servlet-name>
        <url-pattern>/search/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteKeyServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInfoServlet</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/deleteServer</url-pattern>
    </servlet-mapping>
</web-app>
